
body{
    margin: 0;
    font-family: -applesystemfont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'fira Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing:antialiased ;
    -moz-osx-font-smoothing:grayscale;
}
code{
    font-family: source-code-pro,Menlo,Monaco,Consolas,'Courier New',monospace;
}
/* import */
:root{
    --font-base:`Lexend`,sans-serif;;
    --font-second-base:`Inter`,sans-serif;
    --big-color:#111;
    --primary-color:#ffffff;
    --secondary-color:#e50914;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #111;
}